---
export interface Props {
  overline?: string;
  title: string;
  subtitle?: string;
  center?: boolean;
  dark?: boolean;
}
const { overline, title, subtitle, center = false, dark = false } = Astro.props;
---
<div class:list={['section-heading', { 'section-heading--center': center }]}>
  {overline && <span class="overline">{overline}</span>}
  <h2 class="section-heading__title h2">{title}</h2>
  {subtitle && <p class="section-heading__subtitle">{subtitle}</p>}
</div>
